#intro {
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-block: 110px 57px;
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .intro-content {

        .profile-pic {
            position: relative;


            border-radius: 50%;
            border: 2px solid var(--red);
            margin-bottom: 20px;
        
            img {
                padding: 5px;
            }

            #code {
                position: absolute;
                bottom: -10px;
                right: -10px;
            }
        }

        max-width: 680px;
        margin-inline: auto;
    }

    .languages {
        gap: 16px;

        & > * {
            display: flex;
            align-items: center;
            gap: 8px;

            border-radius: 50px;
            background-color: var(--gray-300);
            color: var(--gray-500);
            font: var(--text-md);
            padding-inline: 16px;
            padding-block: 8px;
        }
        
    }

    div small span {
        color: var(--red);
    }

    div h1 {
        margin-block: 8px 20px;
    }

}

#projects {
    min-height: 100vh;
    max-height: 100vh;

    margin-block: 50px;
    padding-inline: 163px;

    .header {
        margin-block: 50px;

        h2 {
            margin-block: 10px 20px;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        article {
            background-color: var(--gray-300);
            border-radius: 12px;
            padding: 12px;
        }

        article img {
            border-radius: 8px;
            width: 100%;
            object-fit: contain;
        }

        article h3 {
            font: var(--title-sm);
            color: var(--gray-600);

            margin-block: 12px 8px;
        }

        article p {
            font: var(--text-sm);
            color: var(--gray-500);
        }
    }

}

#services {
    background-color: var(--gray-100);
    padding-inline: 163px;
    padding-block: 88px 120px;

    .subtitle {
        margin-bottom: 8px;
    }

    .title-md {
        margin-bottom: 56px;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .services div {
        border: 2px solid var(--gray-200);
        border-radius: 12px;
        padding: 20px;
    }

    .services h3 {
        font: var(--title-sm);
        color: var(--gray-600);

        margin-block: 20px 8px;
    }

    .services p {
        font: var(--text-sm);
        color: var(--gray-500);
    }
}

#contact {
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    max-height: 100vh;

    padding-block: 100px 200px;
    padding-inline: 163px;

    .social-media {
        margin-top: 48px;

        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(4, 1fr);
        gap: 16px;
        place-content: center;
    }

    .social-media section {
        background-color: var(--gray-300);
        border-radius: 8px;
        padding: 20px;

        display: flex;
        align-items: center;
        gap: 12px;
    }

    .social-media section p {
        text-align: start;
        width: 100%;
        font: var(--text-md);
        color: var(--gray-500);
    }
}